<p style="color: green"><%= notice %></p>

<%= render @user %>
<%= render "user_datum" %>
<%= link_to "Back to users", users_path %>
<% if logged_in? && (current_user.admin or current_user == @user) %>
<div>
<%if @user_datum%>
  <%= link_to "Edit this user datum", edit_user_datum_path(@user_datum) %>
<%end%>
</div>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %>
  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
<%end%>