<div id="<%= dom_id order %>">
  <p>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= order.return_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>
  <div id="books">
    <% Book.select {|book| book.library_id == current_user.library_id}.each do |book| %>
      <div>
          <span>Title: <%= book.title %></span>, Author: <span><%= book.author %></span>
          <p>
          </p>
      </div>
    
    <% end %>
  </div>

</div>
